.order__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.order__link:hover {
  opacity: 0.8;
}

.order__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border-radius: 40px;
  background: var(--interface-modal-bg, #1c1c21);
}

.order__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.order__title {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ingredients__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.ingredients {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0px;
  margin-left: 10px;
}

.price {
  display: flex;
  gap: 10px;
}
