.ingredients__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding: 24px 16px 40px;
  list-style: none;
}

/* .ingredients__list_item {
  border-radius: 8px;
}

.ingredients__list_item:hover {
  cursor: pointer;
  background-color: #1c1c21;
} */
