.ingredients__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;
  padding: 24px 16px 40px;
}

/* .ingredients__list_item {
  border-radius: 8px;
}

.ingredients__list_item:hover {
  cursor: pointer;
  background-color: #1c1c21;
} */
