.feed__container {
  margin-top: 40px;
  width: 80vw;
}

.orders__container {
  display: flex;
  gap: 60px;
  width: 100%;
}

.orders {
  width: 50%;
  max-height: 65vh;
  overflow-y: auto;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.order__status {
  width: 50%;
  max-height: 65vh;
  overflow-y: auto;
}
