.order_info_container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  max-width: 640px;
}
.ingredients_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 24px;
  max-height: 264px;
  overflow-y: auto;
  margin-bottom: 40px;
}

.ingredient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  gap: 30px;
}

.ingredient_name {
  display: flex;
  gap: 16px;
  align-items: center;
}

.price_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
