.container {
  display: flex;
  margin-top: 120px;
  justify-content: center;
  width: 100%;
  gap: 60px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 320px;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navlink {
  text-decoration: none;
  color: #8585ad;
}

.active {
  color: var(--primary);
}

.button {
  border: none;
  background-color: transparent;
  display: flex;
  padding: 0;
  color: #8585ad;
  cursor: pointer;
}

.text {
  margin: 0;
  color: #8585ad;
}

.outlet {
  width: 480px;
}
