.modal {
  border-radius: 40px;
  border: none;
  background-color: #1c1c21;
  color: #f2f2f3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  padding: 40px;
  z-index: 2;
}

.close_button {
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal_heading {
  margin: 0;
}

.children_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
